include flutile/data/h1-ha1-ref.faa
include flutile/data/h3-ha1-ref.faa

include flutile/data/pdm-ref.faa
include flutile/data/h3-ref.faa

include flutile/data/subtype-refs.faa
include flutile/data/subtype-refs.fna

include flutile/data/caton82.txt
include flutile/data/wiley81.txt

include flutile/data/burke2014-index-map.txt
