include flutile/data/h1-ha1-ref.faa
include flutile/data/h3-ha1-ref.faa

include flutile/data/pdm-ref.faa
include flutile/data/h3-ref.faa

include flutile/data/subtype-refs.faa
include flutile/data/subtype-refs.fna

include flutile/data/na-subtype-refs.fna
include flutile/data/na-subtype-refs.faa

include flutile/data/internal-refs.fna
include flutile/data/internal-refs.faa

include flutile/data/caton82.txt
include flutile/data/wiley81.txt

include flutile/data/burke2014-index-map.txt

include flutile/data/burke-phenotypes.txt
include flutile/data/a26-h1.txt
include flutile/data/a26-h3.txt
include flutile/data/a26-h5.txt
include flutile/data/a26-h7.txt
include flutile/data/a26-h9.txt
